@page
@model ProjektNYYYZealand.Pages.UndervisereHoldPage.UpdateUnderviserHoldModel
@{
    ViewData["Title"] = "Update UnderviserHold ";
}

<h1>Update</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.undervisereHold.UndervisereHoldId)
        </dt>
        <dd class="table-bordered">
                @Html.DisplayFor(model => model.undervisereHold.UndervisereHoldId)
        </dd>
        <input hidden asp-for="@Model.undervisereHold.UndervisereHoldId" class="form-control" />
        <div class="form-group">
            <label asp-for="@Model.undervisereHold.HoldId" class="control-label"></label>
            <input asp-for="@Model.undervisereHold.HoldId" class="form-control" />
            <span asp-validation-for="@Model.undervisereHold.HoldId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.undervisereHold.UnderviserId" class="control-label"></label>
            <input asp-for="@Model.undervisereHold.UnderviserId" class="form-control" />
            <span asp-validation-for="@Model.undervisereHold.UnderviserId" class="text-danger"></span>
        </div>

        


        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-dark" />
        </div>
        </form>
    </div>
    <a asp-page="UnderviserHoldPage">Tilbage</a>
</div>
